<nav class="navbar navbar-expand-lg" style="position: sticky; top:0; z-index: 10;">
  <div class="container-fluid">
    <a class="navbar-brand text-white" href="#"><i class="fa fa-check-circle"></i> <strong>To Do App</strong></a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item" style="margin: 0 15px 0 0;">
          <a class="nav-link active text-white" aria-current="page" href="#" routerLink="/home"><i class="fa fa-home"></i>Home</a>
        </li>
        <li class="nav-item" style="margin: 0 15px 0 0;">
          <a class="nav-link active text-white" href="#" routerLink="/create-task"><i class="fa fa-plus-square"></i>Create task</a>
        </li>
        <li class="nav-item" style="margin: 0 15px 0 0;">
          <a class="nav-link active text-white" href="#" routerLink="/data-report"><i class="fa fa-sort-amount-desc"></i>Data report</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>
